.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 9px -12px 9px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 830px;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 543px;
  height: 395px;
  margin: -8px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 383px;
  height: 302px;
  margin: -39px auto 0 36px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 862px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 69px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: -13px 0 0;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: 26px auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 9px 43px 0 18px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -66px 43px 0 auto;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 886px;
  }

  .u-section-1 .u-image-1 {
    height: 390px;
    margin-top: -23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: 264px;
    margin-top: -45px;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 711px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 882px;
  }

  .u-section-1 .u-image-1 {
    height: 306px;
    margin-top: -13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 210px;
    margin-top: -50px;
    margin-left: 41px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 882px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 655px;
  }

  .u-section-1 .u-image-1 {
    height: 459px;
    margin-top: -24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 317px;
    margin-top: -155px;
    margin-left: 36px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 729px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 54px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-1 .u-image-1 {
    height: 289px;
    margin-top: -22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 238px;
    height: 268px;
    margin-top: -90px;
    margin-bottom: -22px;
    margin-left: -15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 857px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 88px;
  }
} .u-section-2 {
  min-height: 66px;
}

.u-section-2 .u-sheet-1 {
  min-height: 816px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -34px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 850px;
}

.u-section-2 .u-container-layout-1 {
  padding: 23px 0 26px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 22px 0 12px;
}

.u-section-2 .u-text-2 {
  text-align: left;
  margin: 18px auto 0 64px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 102px 0 18px;
}

.u-section-2 .u-text-4 {
  text-align: center;
  font-size: 1.25rem;
  margin: 34px 120px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -47px 62px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-2 .u-image-1 {
  min-height: 850px;
  background-image: url("images/white-chrysler-hearse_A-Natural-Undertaking.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 318px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-image-1 {
    min-height: 701px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 850px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 537px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 871px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 9px 50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 83px;
  }

  .u-section-2 .u-image-1 {
    min-height: 806px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 136px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 844px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 15px 17px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 1px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 99px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 498px;
  }
} .u-section-3 {
  min-height: 66px;
}

.u-section-3 .u-sheet-1 {
  min-height: 884px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 774px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 563px;
  height: 583px;
  margin: 36px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 413px;
  height: 383px;
  margin: -205px auto -23px -18px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 774px;
}

.u-section-3 .u-container-layout-2 {
  padding: 8px 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 18px 25px 0;
}

.u-section-3 .u-text-2 {
  text-align: left;
  margin: 30px auto 0 106px;
}

.u-section-3 .u-text-3 {
  text-align: center;
  font-size: 1.25rem;
  width: 450px;
  margin: 31px auto 0;
}

.u-section-3 .u-text-4 {
  text-align: center;
  font-size: 1.25rem;
  width: 449px;
  margin: 44px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -52px 4px 0 auto;
  padding: 8px 27px 8px 26px;
}

.u-section-3 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 30px auto 0 3px;
  padding: 9px 22px;
}

.u-section-3 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -40px auto 40px 256px;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 318px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 638px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 486px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -109px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 819px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 858px;
  }

  .u-section-3 .u-image-1 {
    height: 372px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 360px;
    height: 334px;
    margin-top: -58px;
    margin-bottom: 0;
    margin-left: -20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 858px;
  }

  .u-section-3 .u-text-3 {
    width: 360px;
  }

  .u-section-3 .u-text-4 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 729px;
  }

  .u-section-3 .u-image-1 {
    height: 405px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    margin-top: -46px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 819px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 42px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1699px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-3 .u-image-1 {
    height: 255px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    margin-top: 105px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 765px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 18px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 59px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    width: 340px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 18px;
    margin-right: 98px;
    margin-bottom: -70px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 105px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}